html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.label{
	display:unset;
}

#loading-content {
position: absolute;
background: #FFFFFF;
opacity: 1;
z-index: 100;
left: 0;
right: 0;
height: 100%;
text-align: center;
color: #FFFFFF;
}

#quiry{
	color:white;
}

#VariantTable{
 font-size: 85%;
}

#VariantTable td{
 max-width:200px;
 padding:3px;
 overflow:scroll;
 border-bottom:0px;
}

#VariantTable .dataTables_scrollHead td{
 overflow:visible;
}

#VariantTable td input{
	border:0px;
	border-bottom:1px solid grey;
	border-radius:0px;
	box-shadow: unset;
}

table.varianttable>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    top: 9px !important;
    left: 4px !important;
    height: 14px !important;
    width: 14px !important;
    display: inline !important;
    position: initial !important;
    color: white !important;
    border: 0px solid white !important;
    margin: 5px !important;
    padding-left: 3px !important;
    padding-right: 4px !important;
    border-radius: 44px !important;
    box-shadow: 0 0 0px #444 !important;
    box-sizing: content-box !important;
    text-align: center !important;
    font-family: 'Courier New', Courier, monospace !important;
    line-height: 14px !important;
    content: '+' !important;
    background-color: #354756 !important;
}

table.varianttable>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: '-' !important;
    background-color: #d33333 !important;
}

#VariantTable thead{
 border-bottom-color:white;
}

caption{
	text-align: center;
}

.navbar .navbar-nav {
	float: right
}
.navbar .navbar-header {
	float: left;
}
.navbar {
	background-color: rgb(53,70,87);
	width: 100%;
	height:51px;
	position: relative;
	display: none;
	
    -moz-box-shadow: 1px 1px 15px #ccc;
    -webkit-box-shadow: 1px 1px 15px #ccc;
    box-shadow: 1px 1px 15px #ccc;
}
.navbar-nav li a {
    line-height: 25px;
    height: 50px;
    padding-top: 12px;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a { 
  color:          white;                      
  background:     rgb(53,70,87);
  text-shadow:    none;}

.navbar-toggle {
	margin-right:5%;
}

.dropdown-menu > li > a {
  color:          white;
  background:     rgb(53,70,87);
  position:       relative;
}

.dropdown-menu > li > a:hover {
  color:          black;
  background:     rgb(255,255,255);
  position:       relative;
}

.trans_detail2, .trans_detail{
    display: flex;
    justify-content: center;
    align-items: center;}

.butt{
	color: rgb(53,70,87);
	background-color:#ffffff;
/*	border-color: #ffffff;
*/}
.headings{
	font-size: 24px;
	color:#36495C;
	vertical-align: text-top;
}

.trans_detail{
	font-size: 18px;
	color:#36495C;
	text-decoration: underline;
	vertical-align: text-top;
}

.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}


.container-fluid {
	padding:0px;
	width:100%;
}

.navbar .collapse{
	overflow-x:visible;
	overflow-y:visible;
}

.navbar-nav>li>.dropdown-menu{
    position: absolute;
    max-width: 150px;
}

.shiny-tab-input{
	margin-right:100px;
}

.bg{
	fill:rgb(255, 255, 255);;
}

#PM_mainlogo{
	width: 100%;
	max-width:400px;
	height: auto;
	text-align:center;
}

#PM_brand{
	position: absolute;
	width: 20%;
	background-image: url(./ProjectMinE_navbar.png);
	background-repeat: no-repeat;
	height: auto;
	margin-top: -23px;
	padding-bottom: 43px;
	margin-left: 10%;
	z-index: 1;
}

#infoTab{
    background-color: white;
    border: 0px;
}

#EnsembleRegionInfo,#EnsembleImpactInfo{
width: 100% !important;
height: auto !important;
margin-left: 20%;
}
#ensembleInfoImage{
width: 60%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
}

#searchbox2{
	margin-top:-28px;
	width:200px;
	margin-left:90px;
}

/*.tooltip-inner {
     max-width: 100%;
     padding: 0px;
     color: #fff;
     background-color: #fff;
     border-radius: 0px;
}
.tooltip{
	transform:scale(0.8);
}
.tooltip.top .tooltip-arrow {
     border-top-color: #fff;
}

.tooltip.in {
    opacity: 1;
}

#ensembleInfo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
*/
tr,td, tbody {
	background-color:white;
}

.dataTables_scrollBody {
     border-bottom: 0px solid #fff !important;
}

#lTitle{
	background-color: #E7E7E7; 
	height: 34px;
	margin-bottom:8px;
	-moz-box-shadow: 2px 2px 10px #E7E7E7;
	-webkit-box-shadow: 2px 2px 10px #E7E7E7;
	box-shadow: 0px 2px -2px #E7E7E7, 0px -2px 2px #E7E7E7;}


@media (max-width: 1200px) {
	#PM_brand{
		position: absolute;
		    width: 15%;
		    background-image: url(./ProjectMinE_navbar_mini.png);
		    background-repeat: no-repeat;
		    height: auto;
		    transform: scale(0.45);
		    margin-top: -55px;
		    padding-bottom: 108px;
			    padding-top: 15px;
		    margin-left: 8%;
		    z-index: 1;
	}
}

@media (max-width: 1000px) {
	#PM_brand{
		width: 40%;
	    margin-left: -9%;
		
	}
	
  .navbar-header {
      float: none;
	  width:100%;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid white;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
/*  .navbar-brand{
	  width:80%;
	  max-width:550px;
  }*/
  .collapse.in{
	  padding-top:50px;
	  border:0px;
      display:block !important;
  }
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000;
		background-color:#fff;
    }
	
	.shiny-tab-input {
		margin:0px;
	}
	
	#trInfo{
		transform:scale(.8);
	}
	.tooltip{
		transform:scale(0.7);
	}
}

@media (max-width: 767px){
#headcomponent{
    display: flex;
    align-items: center;
    justify-content: center;
	transform:scale(.8);
	background-color:#E7E7E7;
	-moz-box-shadow: 2px 2px 10px #E7E7E7;
	-webkit-box-shadow: 2px 2px 10px #E7E7E7;
	box-shadow: 0px 2px -2px #E7E7E7, 0px -2px 2px #E7E7E7;
}

#rTitle{
	margin-bottom: 8px;
	-moz-box-shadow: 0px 0px 0px #E7E7E7;
	-webkit-box-shadow: 0px 0px 0px #E7E7E7;
box-shadow: 0px 0px 0px #E7E7E7, 0px 0px 0px #E7E7E7;
}
#lTitle{
	-moz-box-shadow: 0px 0px 0px #E7E7E7;
	-webkit-box-shadow: 0px 0px 0px #E7E7E7;
	box-shadow: 0px 0px 0px #E7E7E7, 0px 0px 0px #E7E7E7;
}
.tooltip{
	transform:scale(0.5);
}

}

@media (max-width: 480px) {
	#PM_brand{
		position: absolute;
		width: 60%;
			margin-left: -2%;
		    z-index: 1;
	}
}
